[2020-06-09 11:44] rachid-debu opened #7 "Failed to analyze project: failed to find the main target of the scheme"
Hello

I'm build a cordova based iOS app.
I'm using the `Scripts` step to do the build (because we have some commands to be ran). Build succeeds.

My problem is afterwards, with `ios-auto-provision-appstoreconnect` i'm getting the error below :

`Failed to analyze project: failed to find the main target of the scheme (Doyouno): failed to find scheme (Doyouno) in project: scheme Doyouno not found i

[2020-06-10 09:59] bitce commented on #7
Thanks, @rachid-debu! Can you provide some context on the setup you do? Is the .xcworkspace file committed to the repository?

[2020-06-12 10:06] rachid-debu commented on #7
@bitce For info, I've downgraded to the prevision version of `steps-ios-auto-provision-appstoreconnect` --> `steps-ios-auto-provision` and provided the obsolete authentication method. My build is working fine now.

Regarding this new version, I didn't manage to get this working. I'll stick to the older one, until further notice.

[2020-06-16 17:29] ubuntudroid opened #8 "Pull in latest changes from xcode-project"
Over at [xcode-project](https://github.com/bitrise-io/xcode-project/) some important fixes regarding target parsing have been done. Would be great if this could be pulled in here as well - our workflows don't build right now which is likely caused by this from looking at the logs.

[2020-06-17 10:30] bitce commented on #8
Hi @ubuntudroid! Can you please include an URL of a build that fails for you, so we can take a look at what are these problems exactly?

[2020-06-17 12:03] ubuntudroid commented on #8
@bitce Sure, here you go: https://app.bitrise.io/build/17bf046e47cb8cc8 (the branch has been renamed in the meantime to `feature/appwidget` in case you wonder / want to trigger the build manually.

In the end I could fix this particular issue (there is still another unrelated issue with building that branch) by manually adding the following to an otherwise empty target:

[code]

Apparently empty t

[2020-06-18 07:00] bitce commented on #8
I see, that would make sense. Would you be able to turn on Support User access for us? I'd forward this to our engineering team so they can take a look.

[2020-06-18 08:33] ubuntudroid commented on #8
@bitce done ✅

[2020-06-24 21:43] euharrison opened #9 "Latin character may broke to find the certificate"
Hi, thanks for the update, this step sounds amazing! 🙏

I updated my project following this post https://blog.bitrise.io/app-store-connect-api-on-bitrise but actually it's not working.
Before the update, the project was building correctly with the old step of Auto Sign.

I believe the reason of the broken build is because my certificate has a latin character `ç`.
I already had a similar problem wi

[2020-06-25 11:26] bitce commented on #9
Hi @euharrison! Sorry to hear about the issue! Can you please send us a build URL where this happens, and enable Support User access in the Settings of the app?

[2020-06-25 13:37] euharrison commented on #9
Hi @bitce, thanks for reply

Sure, here is the link https://app.bitrise.io/build/0a74506870d99141#?tab=log and support user access is enabled

[2020-06-25 14:43] mac89 commented on #7
I'm experiencing the same issue with a Cordova generated project. The file structure:
[code]

This step's output:

[code]

[2020-06-26 16:52] MikaelMelkonyan opened #10 "runtime error: slice bounds out of range"
Hello.

I use "iOS Auto Provision with App Store Connect API" step in my workflow in the Bitrise. Version 0.1.0.
I have some error. Could you please help me to understand what am I doing wrong?

If you need some additional information, please let me know

[code]

[2020-07-03 13:07] rachid-debu commented on #7
hi @mac89 sorry for late answer. but I've managed to solve my issue by using the older version of this bitrise step :
https://github.com/bitrise-steplib/steps-ios-auto-provision
it is the basic step `iOS Auto Provision` (without app store connect API).
for this one to work, you will have to provide your apple credentials in your bitrise settings page.

let me know if this worked for you.

@bitce t

[2020-07-03 13:24] mac89 commented on #7
I resorted to this as well. I perused through the source code, but could not find the cause.

[2020-07-13 14:22] shpuntov opened #11 "Failed to apply code sign settings for target •••••: failed to get project’s target attributes"
Hi there. `ios-auto-provision-appstoreconnect` step failed with the following logs:

[code]

When I add the following node into my `.pbproj` file (at path `objects` / `E3E19E12236C4564004FC698 /* Project object */` / `attributes`), the step works without the issue.

[code]

But each time I change something in the project, Xcode automatically removes this node, and the step get failed again.

This

[2020-07-14 14:55] kylebrowning commented on #8
I believe I have a related issue.

[code]

[2020-07-14 17:22] non-binary commented on #11
Hi @shpuntov,

Can you please share a build log and enable support access?

[2020-07-15 10:44] shpuntov commented on #11
Hi @non-binary,

I've enabled support access for the app https://app.bitrise.io/app/b338271a50f1ffd0
And here's the build log: [69aae9b99fd24c0e.log](https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/files/4924610/69aae9b99fd24c0e.log)

[2020-07-15 11:43] non-binary commented on #11
@shpuntov I see you have a green build. Are you still experiencing this?

[2020-07-15 11:58] shpuntov commented on #11
@non-binary yes, problem is still there. My build is green because I have had to hack my `.pbproj` to make it works. It's very dirty hack, and it's unstable: every change of my Xcode project removes this hack, and I have to add it again, otherwise build gets failed. I described this in details in the head post of this issue. And I even made an assumption why this could happen. 😄

[2020-07-15 12:01] shpuntov commented on #11
@non-binary I have to add this block in my Xcode project file:

[code]

The step is failed if I don't do this. At the same time Xcode don't want to have this block in project file, and removes it each time I make changes in my project (e.g. add a file). Only you guys can help here and fix your step behaviour.

[2020-07-15 18:09] non-binary commented on #11
@shpuntov Ah, I see. Thanks for clarifying. I will share this with our tooling team.

[2020-07-22 17:40] losh11 opened #12 "Missing issuer_id when it clearly isn't."
[code]

<img width="1394" alt="apple" src="https://user-images.githubusercontent.com/2608570/88209483-b08e8d80-cc4a-11ea-98c0-8bf7b2474edd.png">

I even copied the issuer ID using the copy button on the AppStore Connect site.

[2020-07-23 10:11] bitce commented on #12
Hi @losh11!

Sorry to hear about the issue. Can you confirm that on the Team tab of this app, this very same account is selected for the step to be using?

[2020-07-30 08:45] jeyremy commented on #11
Hi, i'm experiencing the same issue. did you find a workaround ?

[2020-07-30 10:59] kndl22 opened #13 "Build Error - cannot unmarshal object into Go struct field DevicesResponse.data of type []appstoreconnect.Device"
Hi,
Everytime when adding a new Test Device to Bitrise, the next build will fail with error:
`registering device Failed to register device: json: cannot unmarshal object into Go struct field DevicesResponse.data of type []appstoreconnect.Device`

The error is gone after few times of builds, but it'll surely happen next time device is added.

[2020-07-30 14:18] chaitanyatanna-bitrise commented on #13
Hi @kndl22
Thank you for reaching out to Bitrise.
Can you please share the screenshot of the error that you are getting when adding a new test device?
Also, for reference here is the document that you can follow to add new test devices to your bitrise account.

Thank you
Chaitanya

[2020-07-30 16:19] shpuntov commented on #11
I did. See my post above, it's mostly about workaround.

[2020-07-30 20:28] christiankm opened #14 "FORBIDDEN_ERROR: This request is forbidden for security reasons: Unable to find a team with the given Content Provider ID"
Hi there,

I was using Bitrise to archive and export my app on build to App Store TestFlight.

After the "recent" change in App Store Connect APIs to fix the 2FA problems, I setup this build step instead, and I THINK it worked in the beginning, but after some time it stopped working, and I could not get past the error below.

Any help is most appreciated. I have tried to recreate certificates and

[2020-07-31 10:05] kndl22 commented on #13
After reading [this article](https://devcenter.bitrise.io/testing/registering-a-test-device), next time I'll try adding new device while using "Safari" browser and see if it happens again.
Seems that when using Chrome the popup isn't showing (probably blocked by ad-blocker).
Will update the next time i register new  device :)

Error screenshot attached:
<img width="1188" alt="Screen Shot 2020-07-3

[2020-07-31 17:01] chaitanyatanna-bitrise commented on #13
Thank you @kndl22 for the update.
Yes, please do.
Let me know if you have any questions or concerns.

Thank you
Chaitanya

[2020-08-01 10:32] losh11 commented on #12
Hi yes, I can confirm that the team is the same. Though in Xcode we are signing into a team account which has the same team ID.

[2020-08-03 08:13] bitce commented on #14
Hi @christiankm! Sorry to hear about the issue. Have you tried regenerating the API key yet? I've seen a similar situation, where the issue turned out to be that the API key was generated in a bad state, and regenerating the key helped.

[2020-08-03 08:17] bitce commented on #12
Thanks! Can you please send us a link to this build an enable Support User access in the Settings of the app?

[2020-08-03 10:04] christiankm commented on #14
What API key is this exactly, that you refer to? I tried to disconnect, and reconnect my Apple Account in Bitrise settings, and generating a new App Store Connect with Admin right while doing so. But it seems it does not find the Content Provider ID although this IS correct, as far as i can see.

I see two different team id's in the log and i wonder if that has anything to do with this issue.

[2020-08-03 10:09] bitce commented on #14
Hi @christiankm, this API key is what you have to use as the method of connecting your account to use this step. What you are describing sounds like you're referring to the older, deprecated method of session based authentication, but this repo and the log snippet is using a new method available in the same place.

This is blogpost describes it well: https://blog.bitrise.io/app-store-connect-api-o

[2020-08-03 10:21] christiankm commented on #14
This blogpost is exactly what I have followed. It’s just not working for me (anymore).

Christian

[2020-08-03 10:59] bitce commented on #14
I understand, hope this helps clear up the API key in reference. In case this used to work that sounds like it might be different, but we'll need a build URL and Support User access (can be turned on in the Settings of an app) to be able to investigate this.

[2020-08-03 11:04] christiankm commented on #14
Sounds great. I have enabled support user access. This is the latest failing build: https://app.bitrise.io/build/57487b8a7a92f799#?tab=log

Thank you!

[2020-08-03 11:22] bitce commented on #14
Sure thing! Can you direct us to a specific build where this was working? I see successful builds in the past but none of them had this step yet. Thanks!

[2020-08-03 12:06] christiankm commented on #14
Yeah you’re right. I see now I never got it working for me with this step. Last thing I had working was manually installing certificates.

[2020-08-03 14:36] losh11 commented on #12
Done - https://app.bitrise.io/app/f9a0d0dccb8b0636
not sure if that's the correct link

On Mon, 3 Aug 2020 at 09:17, Bence Kubik <notifications@github.com> wrote:

[2020-08-03 14:55] luis-f-lins commented on #12
Any updates on this? I've also had this problem with `missing issuer_id`, even though everything seems correct in my Bitrise profile

[2020-08-04 07:08] bitce commented on #14
I see! Can you or have you tried to regenerate the API key?

[2020-08-04 07:18] bitce commented on #12
Hi @losh11

When I said

I mean that your project on the website has a "team tab" where you have to select this account. Can you confirm that thisi s done?
![Screenshot from 2020-08-04 09-17-12](https://user-images.githubusercontent.com/40164469/89264613-81592280-d633-11ea-8415-c0367bf792de.png)

[2020-08-04 12:39] losh11 commented on #12
Okay that works. Though I'm still getting another issue:

[code]

[2020-08-04 13:53] christiankm commented on #14
I am not sure.

However now I have reverted my workflow config to use the older implementation and install certificates outside of automatic management, (like my last successful build).

Now my CI works again. I think I will leave it like this until this method really gets retired, or until some updates have come to the build steps :)

Thanks for your help so far!

[2020-08-05 09:19] bitce commented on #12
Glad to hear about the progress! The error seems related to the step trying to register test devices for your developer portal account. Can you try to reset your device list over there?

[2020-08-05 17:20] losh11 commented on #12
I've tried resetting the device list. FYI building via xcode etc works, it's specifically just bitrise's autoprovision failing.

[2020-08-06 08:37] bitce commented on #12
Right! Sorry I missed this earlier, what's happening is that the step is trying to register test devices for you, and somebody associated with the app had the UDID "PEEPEEPOOPOOPEEPEEPOO" registered, which is of course, incorrect. As I can see you've since removed it and the latest builds passed, but let me know if I'm wrong and you'd need further help with this!

[2020-08-07 02:30] #12 closed

[2020-08-11 14:11] Robert-Bitrise commented on #8
Hi @ubuntudroid  and @kylebrowning !
Do you still notice this issue or it has been solved?

[2020-08-11 14:13] kylebrowning commented on #8
I reverted to using the deprecated auto provision step.

[2020-08-11 14:16] Robert-Bitrise commented on #8
@kylebrowning Could you please send a build log with support access which I can use to investigate this issue? Thank you.

[2020-08-11 14:19] kylebrowning commented on #8
[Failing](https://app.bitrise.io/build/56a4790d17f5f13c#?tab=log)
[Passing before something broke](https://app.bitrise.io/build/26b87868df02c676#?tab=log)

[2020-08-11 15:14] Robert-Bitrise commented on #8
@kylebrowning
Could you please check the following settings?

- Ensure that the Application Identifier exists on the Apple Developer Portal
- Ensures that the project's Capabilities are set correctly in the Application Identifier
- Ensures that the Provisioning Profiles exist on the Apple Developer Portal and are installed for the build
- Ensure that all the available Test Devices exist on the App

[2020-08-11 15:20] kylebrowning commented on #8
Yes all of those are correct and, as I put in my last comment there is a build that did pass with App Store connect API and then it broke.

[2020-08-11 15:27] Robert-Bitrise commented on #8
@kylebrowning

What you were using that successful build was a step with this id: ios-auto-provision
The id of the other auto provision step is: ios-auto-provision-appstoreconnect

So this link didn't use the AppStore Connect API based step:
https://app.bitrise.io/build/26b87868df02c676#?tab=log

[2020-08-12 14:41] Robert-Bitrise commented on #10
Hi @MikaelMelkonyan,

Could you please check that you don't have any special characters or emojis in your XCode project folder names? If the plist contains any special characters/emojis then the iOS Auto Provision step can fail. I hope these information could help.

[2020-08-12 15:07] MikaelMelkonyan commented on #10
Hello Robert. Thanks for your reply.
I have 🚀 emoji in my 'Display name'. Is it required to remove emoji? For us it's very important to have emoji in 'Display name'. Marketing requirements 😃.

[2020-08-12 15:18] Robert-Bitrise commented on #10
Hi @MikaelMelkonyan !

Sorry but you need to remove them if you want to be able to build :( Emojis are so funny and cool but it causes issues in the plist process.

[2020-08-12 15:27] MikaelMelkonyan commented on #10
Got it. But old version of Auto-provision (iOS Auto Provision with Apple ID) still works fine with emojis. ((

[2020-08-13 17:30] Robert-Bitrise commented on #8
@kylebrowning
Did you notice that you have used the same iOS Auto Provision step in those 2 builds what you have sent to me in your previous comment?

[2020-08-13 17:56] kylebrowning commented on #8
I'll double check when I have time. Sorry for the delayed response.

[2020-08-13 18:04] Robert-Bitrise commented on #8
@kylebrowning No problem, thank you for your reply!

[2020-08-14 10:15] Robert-Bitrise commented on #10
@MikaelMelkonyan You are right. The old step has a different source code. You can use that step as an alternative solution for now, but that step will be deprecated. In the future our engineers will investigate the difference between the old and the new step's source code, but until then you can't use emojis if you want to use the new step. Thanks for your understanding.

[2020-08-14 10:19] MikaelMelkonyan commented on #10
Sure. I understand. Thanks a lot for your reply. 🤗

[2020-08-17 11:14] kndl22 commented on #13
Hi @chaitanyatanna-bitrise, I can confirm that this issue repeats every time we add a test device manually to Bitrise (without adding it at the Apple's developer portal).

As I mentioned before, it happens only at the first build after adding the device; the next builds will pass successfuly

[2020-08-19 18:23] chaitanyatanna-bitrise commented on #13
Hi @kndl22
Thank you for the update. I will let the team regarding this issue.

Thank you
Chaitanya

[2020-08-25 12:31] maqoo opened #15 "Custom template entitlement problem: com.apple.developer.passkit.pass-presentation-suppression"
I am not able to create a valid provisioning profile when this entitlement is added to app capabilities:

`com.apple.developer.passkit.pass-presentation-suppression`

the out put from logs is:

[code]

Provisioning is successfully created but archive proves that we are not able to us it as the capability is missing. Output from `Xcode Archive & Export for iOS` step:

`error: Provisioning profile "

[2020-09-02 18:20] ayn commented on #13
I'm also seeing this same issue, basically it fails after it registers a new device to Apple developer portal, but the device is added successfully at the portal. Rebuilding the build until all new devices are registered and the build will eventually work.

[2020-09-03 16:31] ClaudiaJ commented on #13
I created a workflow loop to work around this when it showed up for us one late Friday night:

[code]

Client verbose logs are turned off in the step, so I couldn't see what the Apple API was returning that would cause the step to fail in this way:
https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/blob/c1d53fc60d082f8e32efaa0ea43231d25c1be772/main.go#L356

We don't use Bi

[2020-09-11 22:32] alvarocofre commented on #11
I have the same issue

[2020-09-15 17:29] nauticalcoder commented on #13
We just started seeing this error this morning but have not recently added any devices nor changed anything with the build process.

[2020-10-07 09:20] LRNZ09 commented on #11
I'm experiencing the same issue in a React Native project

[2020-10-16 14:52] Robert-Bitrise commented on #8
Hi @kylebrowning !
Did you have time to double check that what we were talking about earlier?
I am looking forward to your reply.

[2020-10-22 16:20] rickmanelius opened #20 "Provisioning Profiles are Invalidated & Entitlements Option is Reset"
So 1st off, my goal is not to have Bitrise.io automatically manage the provisioning profile, but I'm cool with it as long as it's functional. Right now, it's not. We are attempting to move from the legacy `ios-auto-provision` v1.5.4 step to this one, but we noticed some funny behavior. Not only is it creating a new provisioning profile with a slight difference in title vs lowercase (e.g. we had "B

[2020-10-23 06:43] shpuntov commented on #11
@non-binary any updates on this?

[2020-10-23 08:59] Tallyb commented on #7
This issue was closed without resolution to the step itself (the appconnect one). Can this be reopened until a proper solution exists?

[2020-10-24 05:21] iamcam commented on #10
I'm seeing this somewhat suddenly as well, though I don't have any emoji in my file path or display name. However, we did add some emoji to an Xcode build phase script, which I imagine must have done it. After removing the emoji builds are back to normal.

Is there any chance at all this bug can be resolved? Obviously it's no longer urgent for us, but a resolution would be appreciated.

Thanks!

[2020-10-27 11:45] non-binary commented on #11
Unfortunately no update.

[2020-10-27 14:57] mjones-droid commented on #20
Thanks for reporting. I've filed a bug report with the dev's.

[2020-10-27 17:53] vapor-pawelw opened #21 "Failed to apply code sign settings"
Hello,

I had just introduced this step instead of the Apple ID one and it seems to be failing on most of my workflows :(

One where I build a debug scheme for Bitrise adhoc deployment, getting this error (I replaced the real app name with "$appname" everywhere in the logs):

[code]

Another problem I've got is that in my test workflow, xcode analyze step (latest version) is failing, with these er

[2020-10-28 10:11] vapor-pawelw commented on #21
After trying to manually add targets info to TargetAttributes to the pbxproj, I'm now getting this error
[code]

[2020-10-28 10:21] vapor-pawelw commented on #11
Having the same issue, switched over because it was promoted to do so already so I hoped it would be stable release, but it's not working at all for me now

[2020-10-29 14:54] rickmanelius commented on #20
@mjones-droid Much appreciated!

[2020-10-30 12:44] non-binary commented on #21
Hi @vapor-pawelw,

Thank you for reaching out.

I have escalated this to our L3 team to investigate.

[2020-11-04 19:43] rickmanelius commented on #20
Hmm. On additional inspection, it might be that the log output is having difficulty converting the `entitlements serialized.Object` parameter to a %s output. However, the upstream issue of it regenerating despite the entitlements already matching what is noted in the provisioning profile is tricky.

[2020-11-09 21:00] bangfalse opened #22 "Plugin fails to provision for stand-alone watchOS apps"
After printing the bundle IDs of my watchkitapp and watchkitapp.watchkitextension, the step prints:
`Failed to read project platform: not supported platform. Platform (PLATFORM_DISPLAY_NAME) = watchOS, supported: iOS, tvOS`
and fails with exit code 1.

[2020-11-09 23:45] chaitanyatanna-bitrise commented on #22
Hello @bangfalse
Could you please provide the build URL and enable Support Access?
I am going to discuss this with my team as well.

Thanks
Chaitanya

[2020-11-09 23:51] bangfalse commented on #22
Here's a failing build: https://app.bitrise.io/build/d247a89ec91b6d95
Here's the successful build after manually uploading updated profiles and switching back to `certificate-and-profile-installer@1`: https://app.bitrise.io/build/33a24cdb8e83dd0f

Support access is enabled.

[2020-11-10 16:53] mbuchetics opened #23 "Fails with App Clip target"
Since adding an app clip target to my project, this step fails with the following error:

[code]

When checking the settings in the developer portal, everything looks fine. Xcode also archives & exports without an issue.

The build log is here: https://app.bitrise.io/build/2a2961474bbd1b89#?tab=log
I also added support access, if anyone wants to take a look at it.

[2020-11-10 16:53] mbuchetics opened #24 "Fails with app clip target"
Since adding an app clip target to my project, this step fails with the following error:

[code]

When checking the settings in the developer portal, everything looks fine. Xcode also archives & exports without an issue.

The build log is here: https://app.bitrise.io/build/2a2961474bbd1b89#?tab=log
I also added support access, if anyone wants to take a look at it.

[2020-11-10 19:19] chaitanyatanna-bitrise commented on #22
Hello @bangfalse
I am glad that the issue is resolved.
When you are using the certificate and profile installer step, you need to upload the profiles and certificates manually to the bitrise Codesigning tab.
Is there anything else I can help you with?

Thanks
Chaitanya

[2020-11-10 20:01] bangfalse commented on #22
I would not consider this a resolution, since it requires me to upload a new set of provisioning profiles every week. If this step were working correctly, there would not be manual weekly maintenance needed to my workflow.

[2020-11-11 09:14] mbuchetics commented on #24
sorry, this is a duplicate of #23

[2020-11-11 09:14] #24 closed

[2020-11-12 18:13] chaitanyatanna-bitrise commented on #22
Hi @bangfalse
Is there any reason you need to upload the provisioning profiles every week?
Are you getting any error after every week regarding the profiles?
If so, can you provide more details on it, please?

Thanks
Chaitanya

[2020-11-12 18:32] bangfalse commented on #22
The two first sets of `app-store` provisioning profiles issued by Apple and gathered by `codesigndoc` had only been valid for a week each when I first started testing this app. I use Apple's automatically manage singing setting, so this is somewhat opaque to me.

Now it appears that Apple has granted me provisioning profiles that are good for a year, so this is less of a concern.

I would still co

[2020-11-12 21:05] mjones-droid commented on #23
Hey @mbuchetics! Sorry you're having issues.

I think the key line is here:
`app ID capabilities are not in sync with the project capabilities, synchronizing...`

What that tells me is that Bitrise thinks the capabilities for the App ID being pulled from Apple aren't sufficient to cover the project.

The simplest step is to triple check that the capabilities in the Apple Developer Portal are actua

[2020-11-13 09:50] mbuchetics commented on #23
Hi, thank your for your response. I checked the App ID settings on the developer portal and everything seems fine. The log complains about the `Parent Bundle ID` capability, but that's already enabled and set for my `"XC at tinkado Flipbook Clip"` app ID (which was created by Xcode). You can't event disable that for App Clips, it must be enabled and set. Building using Xcode works fine.

I enabled

[2020-11-13 14:46] mjones-droid commented on #23
Hey @mbuchetics! Thanks for trying verbose logging. You're right, that didn't provide anything useful. Sorry :(

There's two things I'd like you to try.

1.) We have an [older, deprecated version of the iOS Auto Provision Step](https://www.bitrise.io/integrations/steps/ios-auto-provision) that requires your Apple ID credentials. Would you mind swapping out the steps for me and trying again?

If th

[2020-11-13 16:12] mbuchetics commented on #23
Hey @mjones-droid,
I tried 1) and it did work! See build log at https://app.bitrise.io/build/1c3f6f10754c667b#?tab=log
I don't have time to setup 2) right now, is this sufficient information for you now or do you need the local build information as well?

[2020-11-13 18:31] mjones-droid commented on #23
Hey @mbuchetics!

Don't worry about my second troubleshooting step. I'm pretty sure we have a bug in the step. I'm going to file a report with the devs.

For now leave the deprecated step in place.

[2020-11-15 18:27] kndl22 commented on #13
Hey @chaitanyatanna-bitrise any news regarding the issue?

[2020-11-16 17:09] vapor-pawelw commented on #21
@non-binary any updates on this and any estimated time when the fix could be expected?

[2020-11-16 20:52] chaitanyatanna-bitrise commented on #13
Hi,
There is still no update on the ticket from engineering.
I will update you as soon as I hear back from the team.

Thanks
Chaitanya

[2020-11-17 10:07] mbuchetics commented on #23
Thank you!

[2020-11-18 14:30] mjones-droid commented on #21
Hey @vapor-pawelw!

This is a known bug with certain projects. We have a bug report filed with the dev's. In the mean time I suggest switching to the [older Apple ID step](https://www.bitrise.io/integrations/steps/ios-auto-provision).

[2020-11-18 15:41] mjones-droid commented on #21
In regards to this specific error:

`failed to generate json from Pbxproj - error: plist: error parsing text property list: missing ; in dictionary at line 112 character 86865`

We've discovered that the organization name isn't properly escaped for some customers. It's possible changing your org name will help with that one.

[2020-11-20 15:19] godrei commented on #11
Hi @shpuntov ,
could you please let me know how can I generate a project withouth `TargetAttributes`?

It seems some other tools handle `TargetAttributes` as required too:
- [Fastlane](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/update_code_signing_settings.rb#L14-L17)
- [Tuist](https://github.com/tuist/XcodeProj/pull/519)

[2020-11-23 09:21] godrei commented on #11
I managed to reproduce it, for example if you duplicate a target, Xcode will not generate `TargetAttributes` for it.

[2020-11-23 12:48] vapor-pawelw commented on #21
@mjones-droid Thank you for the information - yes, we already went back for Apple ID step so we could keep our workflows working.

As for the plist error - changing org name is not an option for us at the moment. I don't know why is that, our org name contains just ascii and dots and is a standard reverse-domain format.  It would be great if you would be able to address this issue as well in some

[2020-11-23 14:47] mjones-droid commented on #21
Howdy @vapor-pawelw!

As we've continued to investigate this issue, there are other fields that aren't being escaped properly as well. It might be worth taking a look through the Xcode project fields for any characters that commonly need escaped.

In the mean time, our dev's are aware of the issue and a bug fix is planned for an upcoming sprint.

[2020-11-24 17:41] shpuntov commented on #11
@godrei I'm experiencing this issue with the project I've created on November 2019, with the most recent Xcode version at that moment, so I wouldn't say that this project is too old (as they say [here](https://github.com/fastlane/fastlane/blob/master/fastlane/lib/fastlane/actions/update_code_signing_settings.rb#L14-L17)).

I've just tried to switch project format from 9.3 to the most recent 12.0,

[2020-11-25 13:42] vapor-pawelw commented on #21
Great! :) Hope it's coming soon. Thank you!

[2020-11-25 17:35] daida opened #26 "Apple Development are supported ? or only IOS_DEVELOPMENT ?"
Here the result I got with the steps-ios-auto-provision-appstoreconnect

Downloading certificates
2 certificates downloaded:
- Apple Development: xxxx
- Apple Distribution: xxxx
no valid IOS_DEVELOPMENT type certificates uploaded with Team ID (xxxx)

the old step works fine (with the old appStore authentification system) works fine.

Do you support Apple Development certificate ? or I have to swit

[2020-11-25 22:04] danipralea opened #27 "App clip provisioning failing"
Hello!
We're trying to create a build, but since app clips we're failing to do so. We're using ios provisioning with App Store Connect.
We're currently getting the following error:
[code]

We checked like 20 times on Apple Developer Portal and everything looks fine. The App Clip does have the Parent ID set. There's actually impossible to even deactivate it...
We also have the verbose logging enabl

[2020-11-26 16:46] #26 closed

[2020-11-27 02:06] sregg opened #28 "Project Path input not used?"
Here's the error I get:

[code]

see `ios/idv.xcodeproj` is different than the input `ProjectPath: ios/idvpoc.xcworkspace`

[2020-11-30 10:11] bitce commented on #28
Hi @sregg! Can you include an URL to a build where this happens please? If possible also turn on Support User access in the Settings. Thanks!

[2020-11-30 10:18] bitce commented on #26
Hi @daida! I see you closed this but the information might be useful for others - this completely depends on Xcode version. Apple Development has to be used from Xcode 11 and forward, and earlier versions of Xcode would require IOS_DEVELOPMENT type certificates.

[2020-11-30 11:23] daida commented on #26
Yes! The error message confuse me! The real error was i did'nt perform an archive on xcode so there are no provioning profiles available..

Maybe you could change te error message to mention ios developper provisioning profiles or apple developer provisioning profiles.

Thanks for yout answer!

[2020-11-30 13:51] sregg commented on #28
https://app.bitrise.io/build/dafd7669b0e6adfe
Support User Access is ON

[2020-12-01 10:07] bitce commented on #28
Thanks!

Can you please check the following?

1. Is the scheme idv shared for actions?
2. Could this scheme have project file provided instead of workspace file as a [Containter](https://developer.apple.com/documentation/cloudkit/identifying_an_app_s_containers)? This could cause the step try to parse an xcodeproj file instead.

[2020-12-01 15:03] mjones-droid commented on #27
Hey @danipralea!

This is a known bug in the iOS Autoprovision App Store Connect step. Please try using the older, deprecated step here:
https://www.bitrise.io/integrations/steps/ios-auto-provision

A bug report has been filed and our devs are working on it. Another customer had a similar issue here: https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/issues/23

[2020-12-01 16:37] sregg commented on #28
Hi Bence,

We realized the scheme was not properly setup.
Feel free to close the issue.

[2020-12-02 10:44] #13 closed

[2020-12-02 14:04] godrei commented on #11
Hi @shpuntov thanks for the detailed issue report!

We released a new version of the step ([0.1.2](https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/releases/tag/0.1.2)), which solves this issue.

If you still experience the same problem, please open a new issue.

[2020-12-02 14:04] #11 closed

[2020-12-03 09:41] adborbas commented on #13
Hi @kndl22, PR #19 solves this issue. Please open a new issue if you still experience the problem.

[2020-12-09 14:30] mjones-droid commented on #20
Hey @rickmanelius. Here's the official response from the dev's.

[2020-12-09 15:32] rickmanelius commented on #20
Hi @mjones-droid. Perfect timing! I was just about to pick this one up again. Thanks for the tip on the `certificate-and-profile-installer`. It looks like I should have been attempting to use that one from the beginning instead of this one after we decided to manually manage certs and profiles. I'll close these two tickets and switch to that step. Thanks!

[2020-12-09 15:32] #20 closed

[2020-12-14 11:42] tomaszkoperski opened #32 "Fail to match iCloud container when re-using existing provisioning profile"
I'm getting this error:

`failed to check if profile is valid: project uses containers that are missing from the provisioning profile: [iCloud.$(CFBundleIdentifier)]`

whenever I try to run auto provisioning using this plugin.
The problem doesn't happen when I delete the provisioning profiles in App Store Connect (so they are created instead of being pulled down from the ASC API).

Happened here:

[2020-12-15 11:36] bitce commented on #32
Hi @tomaszkoperski !

Thank you, we're looking into this!

[2020-12-15 14:00] daida commented on #32
Hello, I got EXCACTLY the same issue !

[2020-12-15 14:04] daida commented on #32
I fix this issues by removing provisoning profiles on Xcode, after Xcode regenerate them and everything works for one build, but the next build will fail

[2020-12-16 08:22] mbuchetics commented on #23
Any news here? Would really like to switch to the new step to avoid 2FA prompts.

[2020-12-16 09:01] bitce commented on #32
The investigation and fixing of this is already in progress, will make sure to post an update here once we can!

[2020-12-16 15:35] mjones-droid commented on #23
No updates at this time. Sorry. :( I know a bug report has been filed.

[2020-12-17 10:02] bitce commented on #32
Hi @tomaszkoperski  and @daida, we just released a new version (0.1.6) of the step that contains the fix. https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/releases/tag/0.1.6
Hope this helps!

[2020-12-17 10:03] daida commented on #32
Cool ! thanks !

[2020-12-31 18:33] JakeStoeffler commented on #8
I'm having the same issue and it's blocking me from moving off the *deprecated* iOS Auto Provision with Apple ID path. Here's an example of a failing build: https://app.bitrise.io/build/c33c41a2823a052b

Please let me know what else I can help with so this gets fixed.

[2021-01-02 23:52] patrickbussmann opened #34 "Step reformatting of "pbxproj" file is breaking ionic-archive step"
I have this workflow snippet.

[code]

After the `recreate-user-schemes` step the `platforms/ios/App.xcodeproj/project.pbxproj` file looks normal. Like this:

<img width="555" alt="2021-01-03 00_45_11-S - build #744 (d4436f25b3b693b3) - Bitrise" src="https://user-images.githubusercontent.com/15617021/103468784-03718280-4d5d-11eb-9fea-6d0ddab7ed19.png">

With that file the builds works fine.
But no

[2021-01-03 16:51] patrickbussmann commented on #34
I have a workaround.

Add `is_skippable` to `ionic-archive` step.

[code]

And then add the auto provision and manual xcode archive after that step.

[code]

Then it works.
So there must be something wrong with the cordova build.

[2021-01-04 08:28] bitce commented on #8
Hi @JakeStoeffler, can you please enable Support User access in the Settings of your app, so we can take a look at the project?

[2021-01-04 08:35] daida commented on #32
Works perfectly !! Thank you very much !

[2021-01-04 14:05] non-binary commented on #34
Thank you for reporting this. I've escalated it to the team responsible for looking into this.

[2021-01-04 14:12] JakeStoeffler commented on #8
@bitce Done. You'll notice I was able to work around the issue by adding an empty entry for the target to the `TargetAttributes` section of project.pbxproj.  However, I think that could be avoided if xcode-project was updated in this step.

[2021-01-06 13:44] Robert-Bitrise commented on #34
Hi @patrickbussmann ,

Do you still notice this issue? Do you want to use the ionic-archive step in the future or currently you already have your own solution which is good enough?

I am looking forward to your reply.

[2021-01-06 13:48] patrickbussmann commented on #34
Im still using the ionic-archive step.
But the first time is always failing.

I can work with my workaround but its still an issue.

[2021-01-06 13:51] Robert-Bitrise commented on #34
Could you please create a test workflow to us to let us to be able to test? Thank you for your cooperation!

[2021-01-07 10:50] bitce commented on #8
Thanks for the details @JakeStoeffler. The team seems to agree, we've created a task to do this as soon as we can!

[2021-01-08 09:18] Robert-Bitrise commented on #34
@patrickbussmann
Could you please create a test workflow to us to let us to be able to test? Thank you for your cooperation!

[2021-01-11 11:31] lpusok commented on #34
@patrickbussmann This may be caused by special characters in the Target names. Could you share the redacted names in the screenshot (https://user-images.githubusercontent.com/15617021/103468784-03718280-4d5d-11eb-9fea-6d0ddab7ed19.png) you shared?

[2021-01-12 15:09] godrei commented on #8
@ubuntudroid and @kylebrowning the `xcode-project` package update was pulled in version [0.1.2](https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/releases/tag/0.1.2) on 1 Dec 2020.
Could you please test the latest version of the step?

[2021-01-13 08:17] ubuntudroid commented on #8
@godrei I'm not actively working on our xcode project at the moment, but I'll check once I'm back on it. Might be a month or two though.

[2021-01-13 14:45] godrei commented on #8
@JakeStoeffler and @kylebrowning could you please try the latest version of the step? There was one more code block requiring TargetAttributes, it is fixed in version [0.1.7](https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/releases/tag/0.1.7)

[2021-01-14 08:23] godrei commented on #8
I'll close this issue, but if you need more info/help just open a new issue!

[2021-01-14 08:23] #8 closed

[2021-01-14 08:30] godrei commented on #21
Hi @vapor-pawelw , we introduced fixes for the step around project parsing and codesign setting. Could you please try the latest version of the step ([0.1.7](https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/releases/tag/0.1.7))?

[2021-01-25 18:41] cathyharmon commented on #22
Hello,

We can certainly take a deeper look into why the iOS Auto Provision step was failing.  Unfortunately, the support access has expired.

You may also wish to consider opening a support ticket as there may be information we need that you might not want to publicly share.

Cathy

[2021-01-27 14:54] godrei commented on #21
Closing as we did not receive a reply - @vapor-pawelw please let us know if we can help with anything by opening a new issue!

[2021-01-27 14:54] #21 closed

[2021-01-31 12:26] damiencal commented on #26
Hi @daida and @bitce I came across the same issue you reported above but with the addition of:

![DeepinScreenshot_select-area_20210131130232](https://user-images.githubusercontent.com/2505223/106383175-a9e48e00-63c4-11eb-9502-5b19625b99fa.png)

Ive used the Bitrise key upload tool from the mac that signs and distributes the app with xcode.
So the uploaded keys and profiles should be the right one

[2021-02-04 17:31] mackoj opened #38 "This repo suffer the same issue with mac device id"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 1.0.0
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2021-02-05 11:36] mackoj commented on #38
@mjones-droid, @bitce can someone please give this a look it is a blocking issue for us.

Thanks,

[2021-02-05 16:24] mjones-droid commented on #38
Hey @mackoj. For the time being I've linked this issue to the [other one](https://github.com/bitrise-steplib/steps-ios-auto-provision/issues/140) internally. I may have to split it into a second issue, but for now it feels like a single bug affecting two steps.

I'll let you know as we get more details.

[2021-02-05 17:30] mackoj commented on #38
Thanks @mjones-droid  I will continue tu add details here as things progress.

[2021-02-05 17:32] mackoj commented on #38
If I go around registering the "bad" udid it crash later.

[code]

[2021-02-06 19:39] axelguilmin opened #39 "ios-auto-provision-appstoreconnect breaks agvtool"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? _1.0.0_
- Is the issue reproducible with the latest version? _YES_
- Does the issue happen sporadically, or every time? _EVERY TIME_
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troublesh

[2021-02-08 10:04] MohamedDer commented on #39
I have the same issue. Still working on a workaround script that can fix the broken `xcodeproj ` or `plist` key , and hopefully waiting for the fix

[2021-02-09 12:34] ceeK commented on #7
I've recently spent a day or so debugging this Bitrise step and this was one of my issues. The problem as far as I could see it is that this step doesn't load the workspace; it loads the project. Other tools produced by Bitrise [check if the path is a workspace or project and open the correct one](https://github.com/bitrise-io/xcode-project/blob/master/project.go#L18-L22), but this step doesn't. A

[2021-02-09 19:23] maxmamis commented on #23
Hi, would also like to bump this issue. Any updates?

[2021-02-09 19:28] mjones-droid commented on #23
It looks like this should be fixed. Be aware that in some instances the iOS Autoprovision step fails due to unsupported entitlements which is a different issue.

If you're still struggling with this, please put in a ticket so we can take a closer look.

[2021-02-09 21:36] maxmamis commented on #23
Thanks, I ran into this exact issue earlier today so I've submitted a ticket.

[2021-02-15 10:16] coreymcmahon commented on #7
@ceeK We experienced the same issue. We needed to switch to `ios-auto-provision-appstoreconnect` because of Apple's changes to authentication in February 2021 so the "solution" above (reverting to the old build username-password version of the build step) was not possible.

I'd like to say thanks for the information you posted in the comment above as it allowed us to find a work-around which unblo

[2021-02-15 12:08] rogerluan commented on #7
Hey all, thanks for everyone that contributed to the resolution of this issue. I believe someone at Bitrise should take a look and apply the fix that @ceeK already spent some hours investigating and debugging - that behavior doesn't seem to be "intentional" AFAICT :) I'd normally open a PR to fix this issue but since there's a decently clean workaround… 😁

@coreymcmahon thanks for the very handy s

[2021-02-22 11:30] Roland-Bak commented on #26
Hello there @damiencal 👋

The certificate on the screenshot you sent is one for Bitrise, included in every Auto Provision step by default as is needed for the whole process to work.

If you still experience this issue, could you please send us a build URL of the related build and enable Support Access on the Settings tab of the app (https://devcenter.bitrise.io/troubleshooting/enabling-bitrise-sup

[2021-02-22 11:42] damiencal commented on #26
@Roland-Bak Hi Roland, I ended up contacting Bitrise support. However they replied that Capacitor apps are not yet supported for iOS builds using auto provision.
Till today i have only been using it successfully for Android.

It would be great to support Capacitor, as the process steps should be close to Cordova and Ionic projects.

If you know of any user that figured a workaround please let me k

[2021-02-24 14:08] ameedsayeh opened #41 "1.0.1 version step.zip file is not accessible"
### Issue description

My agent failed to download the step.zip file for the latest version of the STEP (1.0.1)
https://bitrise-steplib-collection.s3.amazonaws.com/step-archives/ios-auto-provision-appstoreconnect/1.0.1/step.zip
However, the previous version step.zip file is accessible
https://bitrise-steplib-collection.s3.amazonaws.com/step-archives/ios-auto-provision-appstoreconnect/1.0.0/step.zi

[2021-02-24 14:17] ameedsayeh commented on #41
Solved in a very short time, now the file is accessible.
Thank you!

[2021-02-24 14:17] #41 closed

[2021-02-24 15:19] lpusok commented on #38
Hello @mackoj,
We released an updated version (https://discuss.bitrise.io/t/ios-auto-provision-with-app-store-connect-api-v1-0-1/15906) that fixes the issue. Mac type devices are not supported yet, but they no longer cause errors.

[2021-02-24 15:19] #38 closed

[2021-02-24 15:34] Roland-Bak commented on #39
Hello everyone!

I wanted to let you know that we are still working on fixing this, but it is a work in progress.
As soon as we have a solution, we'll let you know! 🙂

[2021-03-02 14:29] godrei commented on #7
Hi all, we released a fix for this issue in version [1.0.2](https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/releases/tag/1.0.2).

Please update to the latest version of the step, if you need more info/help just let us know by opening a new issue!

[2021-03-02 14:29] #7 closed

[2021-03-02 17:37] jpike88 commented on #34
Ok, looks like I'm at this stage now. Happily awaiting a fix!

[2021-03-03 12:34] jpike88 commented on #34
Does any know of a workaround that doesn't involve ionic steps, and is entirely done in script calling Cordova directly? This is a blocking issue, we'll have to look for another product if there is not clear ETA on this issue.

[2021-03-03 17:01] godrei commented on #34
Hi @jpike88 , sorry for the inconvenience!
We are working on this issue a few days ago.

Let me share where we are at the moment:

The issue is caused by a [3rd party library](https://github.com/DHowett/go-plist) we use for the Xcode project parsing and modification.
This lib reformats the .pbxproj file by removing comments and changing indentation when we force the ios-auto-provison step defined

[2021-03-05 11:56] #34 closed

[2021-03-08 13:13] adborbas commented on #34
Hi,

This issue should be resolved by the [1.0.3](https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/releases/tag/1.0.3) release.

Please feel free to open a new issue incase you still experience the problem.

Thanks

[2021-03-08 15:54] adborbas commented on #39
Hi all,

Thanks for reporting the issue. The latest version, [1.0.3](https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/releases/tag/1.0.3), contains updates related to the project parsing which could potentially resolve this issue.

Could you please retry with the new version?

On the other hand you might also want to check out the [Set Xcode Project Build Number](https:/

[2021-03-12 08:03] adborbas commented on #39
Hi, I'll take your reactions above as confirmation for the issue being resolved and will close this ticket. Please feel free to open a new issue incase the problem reoccurs. Thanks again!

[2021-03-12 08:03] #39 closed

[2021-03-12 18:49] agusvazquez commented on #27
Hello! I experiencing this issue.

Is there an ETA for this? My client is paying a lot for bitrise services compared to others so he expects everything to be working fine.

Thanks!

[2021-03-12 21:11] danipralea commented on #27
Unfortunately no. They just recommend using the old provisioning tool/step 🤦‍♂️💁‍♂️🤷‍♂️

[2021-03-15 13:24] mjones-droid commented on #27
I just checked on the bug report I filed on this a while back. It's marked as completed, so if you had issues in the past it may be worth trying again.

If you're having new issues, it's also entirely possible it's not related to this bug.

[2021-03-15 14:53] agusvazquez commented on #27
@mjones-droid I have tried a new build and I keep getting the error.

https://app.bitrise.io/build/2e3a945feafab807#?tab=log

[code]

[2021-03-15 20:33] mjones-droid commented on #27
I'll report this back to the dev's.

[2021-04-02 13:03] #9 closed

[2021-04-16 18:09] #32 closed

[2021-04-24 08:11] #28 closed

[2021-04-24 08:11] #15 closed

[2021-04-24 08:11] #14 closed

[2021-04-24 08:11] #10 closed

[2021-04-26 09:23] appcelerate opened #47 "Not signing UITest Target"
### Issue description
This steps fails to check for signing UITest / Unit test targets. Its not checking those targets.

Getting this error :

❌  error: No profiles for 'com.-------UITests.xctrunner' were found: Xcode couldn't find any iOS App Development provisioning profiles matching 'com.------UITests.xctrunner'. Automatic signing is disabled and unable to generate a profile. To enable automati

[2021-05-18 08:08] #22 closed

[2021-05-18 10:18] Roland-Bak commented on #47
Hello @appcelerate 👋

Could you please confirm that you have your API key set in your App's Team tab? I can see that you have an Apple ID connected, but for security reason API keys are only visible to their owners.

Have you tried using the iOS Auto Provision with Apple ID step to see if that works?
Another thing you can check is to enable Automatic signing by passing -allowProvisioningUpdates to

[2021-06-01 09:07] #23 closed

[2021-06-03 09:54] godrei commented on #47
Hi @appcelerate ,
sorry for my late response!

UITest target signing support added in version 1.1.0, see the related [PR](https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/pull/51) and [Release](https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/releases/tag/1.1.0) for more info.

I'll close this issue, but if you need more info/help just let us k

[2021-06-03 09:54] #47 closed

[2021-07-05 08:07] #27 closed

[2021-08-17 16:58] QuentinFarizon opened #66 "Difference between automatic and api_key connections"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 2.0.1
- Is the issue reproducible with the latest version? YES

### Issue description

I think something is missing in the documentation, I don't understand the difference between :
- automatic: Use the Apple Developer connection based on API k

[2021-09-21 23:07] KirillKudaev opened #72 "Fails with App Clip target"
Hi - my company is trying to deploy App Clip to the App Store but this step fails with the following error:

[code]

I've noticed a similar issue has already been opened in the past - could you please confirm that App Clips should work with this step?

Would appreciate any help with this. Thank you!

[2021-09-22 09:28] bitce commented on #72
Hi @KirillKudaev,

Thanks for the report. We can confirm that App Clips should be working with the step. Can you please:

1. Go to the Settings tab of your app on Bitrise.
2. Scroll down to the Enable Bitrise Support User for this app and toggle the switch to the right to enable it. It might take a couple of seconds to work and you might need to refresh your page to see the enabled status.
3. Incl

[2021-09-22 22:36] KirillKudaev commented on #72
Hi Bence,

Thanks for your reply - I enabled the access. Here's the link to our build: https://app.bitrise.io/build/429bc92f-9086-47de-a2c2-9383c0770d41#?tab=log

We appreciate your help with this.

[2021-09-22 22:36] KirillKudaev commented on #72
Hi Bence,

Thanks for your reply - I enabled the access. Here's the link to our build: https://app.bitrise.io/build/429bc92f-9086-47de-a2c2-9383c0770d41#?tab=log

We appreciate your help with this.

@bitce

[2021-09-27 18:47] KirillKudaev commented on #72
@bitce
Just want to follow up to make sure the shared build URL is opening for you.

[2021-09-29 07:33] bitce commented on #72
Hi @KirillKudaev, it's working well, thanks! Apologies for the delay, we're gonna need a bit more time to investigate this one, but will see to it that we get back to you ASAP. Thanks for the patience so far.

[2021-10-06 18:04] lopsae opened #76 "`apple-id` Option mismatch between config.go and step.yml"
Seems like the possible options for `connection` defined in config.go do not match the options defined in step.yml, specifically `apple_id` and `apple-id`.

In the bitrise workflow editor, selecting `apple-id` results in the following error:

[code]

https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/blob/0c3bda4f8c2e7a2f8b19f72595b24583977a33a8/config.go#L20

[2021-10-07 08:47] atanas-bitrise commented on #72
This looks like a duplicate of https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/issues/27. There was a recommendation to use a different step as a workaround and an update but it looks like the problem wasn't resolved fully.

[2021-10-20 12:52] brindy opened #82 "`Should the step manage UITest target's codesigning?` setting ignored"
### Troubleshooting

- [ ] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 2.2.0
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2021-10-20 12:56] hypermats opened #83 "SignUITestTargets: false not respected"
### Troubleshooting

- [X] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 2.2.0
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2021-10-20 13:32] hypermats commented on #82
Experiencing the same issue

[2021-11-02 15:39] OlafAndreas opened #86 "Distribution is not set based on Env Var distribution_type"
### Troubleshooting

- [X] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 2.2.1
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2021-11-03 20:52] cathyharmon commented on #86
The iOS Auto Provision with AppStore Connect API has a required input "Distribution type".  The default value for this step input is "development".   Unless you override the default by specifying another value, it will use "development".

Looking at the bitrise.yml, this is not overridden so the default value of "development" will be used.

You can set the value for this step input to be an ENV VA

[2021-11-16 09:22] QuentinFarizon commented on #66
Up, still awaiting clarification :)

[2021-11-16 14:43] bitce commented on #66
Hi @QuentinFarizon!

Sorry for missing this question earlier. The difference between the settings in question is that the `automatic` option will use the different session-based connection or step inputs as a fallback if available, while `api_key` will only work with that method specifically.

The way you could use different API key connections at the moment is by downloading the different .p8 key

[2021-12-16 22:29] KyLeggiero opened #92 "Suddenly fails to parse provisioning profiles"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? **2.2.2**
- Is the issue reproducible with the latest version? **YES**
- Does the issue happen sporadically, or every time? **EVERY TIME**
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/tro

[2021-12-16 22:57] patrickhammond commented on #92
We also started experiencing this in the last few hours. Have attempted deleting the interesting provisioning profiles from Apple's developer site but get a similar error around parsing time when it attempts to recreate those profiles.

With step debug logs turned on it appears to be that the issue is related to GET and POST requests to this endpoint:
 https://api.appstoreconnect.apple.com/v1/prof

[2021-12-16 22:58] ayn commented on #92
Same:

[2021-12-16 23:08] geyserz commented on #92
same:

[2021-12-16 23:08] tonyhunt commented on #92
Same:

[2021-12-16 23:12] cbackas commented on #92
I wont paste mine... but same

[2021-12-16 23:26] CarsonRedeye commented on #92
Does anyone have a workaround? I assume we have to set up provisioning manually now?

[2021-12-16 23:30] ameedsayeh commented on #92
Same issue is happening here as well

[2021-12-17 00:54] mleatherb commented on #92
We are also seeing this same error using everything from 1.1.3 > 2.2. We're using API key for auth

[2021-12-17 00:55] #92 closed

[2021-12-17 01:02] shams-ahmed commented on #92
@mateherber discovered the underlying problem and is pushing out a fix right now. Version (2.2.3) should be out very soon.

[2021-12-17 01:17] shams-ahmed commented on #92
The step has now been released. Please let us know if you are still experiencing the same issue.

[2021-12-17 05:18] YontiLevin commented on #92
still getting ```error: exportArchive: Signing certificate is invalid.```

[2021-12-21 09:43] QuentinFarizon commented on #66
@bitce If there is a difference, the documentation should explicit it.

[2021-12-23 10:32] QuentinFarizon opened #96 "Automatic code signing failed"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 2.2.4
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2021-12-23 14:03] shams-ahmed commented on #96
@QuentinFarizon `401 NOT_AUTHORIZED: Authentication credentials are missing or invalid` might be related to an expired Apple Service connection. see more [here](https://devcenter.bitrise.io/en/accounts/connecting-to-services/connecting-to-an-apple-service-with-api-key.html#adding-api-key-authentication-data-on-bitrise)

[2021-12-23 14:16] QuentinFarizon commented on #96
It sounds like it could be related, but it started failing at the same time in two projects with differents Apple Service Connections, created at different times

[2021-12-23 16:34] shams-ahmed commented on #96
@QuentinFarizon On another note, can double-check your certificate is available on Apple portal, it may have been deleted or recreated and no longer matches with the one supplied to Bitrise.

[2021-12-23 16:55] QuentinFarizon commented on #96
Well, the 2 certificates belong to two different Apple account, managed by two different administrators (and I'm not an administrator so I can't check)

[2021-12-24 15:41] QuentinFarizon commented on #96
Issue is now solved. Probably an issue on Apple side ?

[2021-12-24 16:33] shams-ahmed commented on #96
@QuentinFarizon likely... but hard to say since their status page is mostly green

[2021-12-24 16:33] #96 closed

[2021-12-27 13:26] QuentinFarizon opened #97 "Automatic code signing failed"
https://github.com/bitrise-steplib/steps-ios-auto-provision-appstoreconnect/issues/96 was closed, but I still gets the issue randomly, without any configuration change.

Example : https://app.bitrise.io/build/b0ef04af-9dbc-46a2-88ce-94a42d89a831#?tab=log

[2021-12-29 17:27] pballada commented on #97
same issue here

[2022-02-23 08:09] #86 closed

[2022-03-22 08:11] QuentinFarizon commented on #66
Well the documentation is still not clear

[2022-04-20 08:01] #97 closed